* {
    margin: 0;
    padding: 0;
    font: 400 22px 'DM Sans';
    font-style: normal;
}

body {
    margin: auto;
    width: 1120px;
    background: #E5E5E5;
    height: 2500px;
    position: relative;
}

.img-logo {
    background-image: url(../img/hs..svg);
    width: 64px;
    height: 45px;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 1120px;
    top: 0;
    padding: 15px 0;
    background: #E5E5E5;
    z-index: 1;
    align-items: center;
}
header nav p {
    color: black;
}

header nav {
    display: flex;
}

a {
    text-decoration: none;
}

header nav a:not(:last-child) {
    margin-right: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.projects {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.container-project {
    display: flex;
}

.project-img {
    background-image: url(../img/Thumbnail\ \(1\).svg);
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    margin-left: 129px;
}

.project-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 575px;
    height: 500px;

}

.project-left-side h1 {
    font: 500 60px 'DM Sans';
    color: #181717;
    width: 450px;
}

.project-left-side p {
    font: 400 24px 'DM Sans';
    color: #606060;
}

.link {
    border-bottom: 2px solid black;
    width: 124px;
    height: 28px;
    font: 500 22px 'DM Sans';
    color: #181717;
}

.container-centr {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 120px;
    height: 400px;
    margin-top: 51px;
}

.container-centr-2 {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 440px;
    height: 400px;
    margin-left: 63px;

}

.container-section {
    display: flex;
    flex-direction: row;


}

.hr {
    background-color: #181717;
    height: 1px;
    width: 100%;
    margin-top: 100px;

}

.end p {
    font: 400 32px 'DM Sans';
}

.end {
    display: flex;
    justify-content: space-between;

    margin-top: 70px;
}

.end-left-side {
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 70px;
    width: 450px;
}



.end-left-side h2 {
    font: 400 32px 'DM Sans';
    color: #181717;
    width: 450px;
}

.arrow {
    background-image: url(../img/↓\ \(1\).svg);
    width: 24px;
    height: 21px;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    top: 0;
    left: 0;
    width: 1120px;
    margin-top: 120px;
}

footer nav {
    display: flex;
}

footer div p {
    color: #2429AF;
    font-weight: 500;
}

footer nav p:not(:last-child) {
    margin-right: 30px;
}
@media screen and  (max-width:300px){
  .container-project{
    display: flex;
    flex-direction: column;
  }
  .project-left-side h1 {
    font: 500 45px 'DM Sans';
    color: #181717;
    width: 450px;
}
  .end{
    display: flex;
    flex-direction: column;
  }
  footer{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

}